.Paragraph-Style,.Heading-Style,.SubHeading-Style,.SubSubHeading
{
	font-family: open-sans-n4, sans-serif;
}

#u802-4
{
	font-family: open-sans-n4, sans-serif;
}

#u809-4
{
	font-family: open-sans-n4, sans-serif;
}

#u816-4
{
	font-family: open-sans-n4, sans-serif;
}

#u824-4
{
	font-family: open-sans-n4, sans-serif;
}

#u362-4
{
	font-family: open-sans-n4, sans-serif;
}

#u384-10
{
	font-family: open-sans-n4, sans-serif;
}

#u432-4
{
	font-family: open-sans-n4, sans-serif;
}

#u425-13
{
	font-family: open-sans-n4, sans-serif;
}

#u433-4
{
	font-family: open-sans-n4, sans-serif;
}

#u429-10
{
	font-family: open-sans-n4, sans-serif;
}

#u434-4
{
	font-family: open-sans-n4, sans-serif;
}

#u725-10
{
	font-family: open-sans-n4, sans-serif;
}

