.Paragraph-Style,.Heading-Style,.SubHeading-Style,.SubSubHeading,.Paragraph-Style-1
{
	font-family: open-sans-n4, sans-serif;
}

#u1027-14
{
	font-family: open-sans-n4, sans-serif;
}

#u1030-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1122-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1124-5,#u1010-4,#u802-4
{
	font-family: open-sans-n4, sans-serif;
}

#u809-4
{
	font-family: open-sans-n4, sans-serif;
}

#u816-4
{
	font-family: open-sans-n4, sans-serif;
}

#u824-4
{
	font-family: open-sans-n4, sans-serif;
}

#u384-10
{
	font-family: open-sans-n4, sans-serif;
}

#u432-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1132-14
{
	font-family: open-sans-n4, sans-serif;
}

#u1135-4
{
	font-family: open-sans-n4, sans-serif;
}

#u429-10
{
	font-family: open-sans-n4, sans-serif;
}

#u434-4
{
	font-family: open-sans-n4, sans-serif;
}

#u725-10
{
	font-family: open-sans-n4, sans-serif;
}

#u872-10
{
	font-family: open-sans-n4, sans-serif;
}

#u876-10
{
	font-family: open-sans-n4, sans-serif;
}

#u880-10
{
	font-family: open-sans-n4, sans-serif;
}

#u884-10
{
	font-family: open-sans-n4, sans-serif;
}

#u927-10
{
	font-family: open-sans-n4, sans-serif;
}

#u931-10
{
	font-family: open-sans-n4, sans-serif;
}

