.version.index /* version checker */
{
	color: #000002;
	background-color: #8359C1;
}

.html
{
	background-color: #F1F4F7;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 838px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -103px;
	padding-bottom: 56px;
	width: 0.01px;
}

#home
{
	margin-left: 972px;
	position: relative;
}

#u592
{
	z-index: 420;
	height: 78px;
	background-color: #197FCA;
	background-color: rgba(0,113,197,0.9);
	position: fixed;
	top: 0px;
	-pie-background: rgba(0,113,197,0.9);
}

#u592-bw
{
	z-index: 420;
}

#u1302
{
	z-index: 456;
	width: 491px;
	background-color: transparent;
	position: fixed;
	top: 18px;
	left: 50%;
	margin-left: -480px;
}

#menuu1273
{
	z-index: 425;
	width: 424px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 18px;
	left: 50%;
	margin-left: 56px;
}

#u1288
{
	width: 62px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1291
{
	width: 62px;
	background-color: transparent;
	padding-bottom: 25px;
	position: relative;
}

#u1291.MuseMenuActive
{
	background-color: #00AEEF;
	border-radius: 10px;
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u1293-4
{
	width: 42px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	left: 10px;
}

#u1291:hover #u1293-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1291.MuseMenuActive #u1293-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1291:hover #u1293-4 p
{
	color: #00AEEF;
	visibility: inherit;
}

#u1295
{
	width: 77px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 64px;
}

#u1296
{
	width: 77px;
	background-color: transparent;
	padding-bottom: 25px;
	position: relative;
}

#u1296.MuseMenuActive
{
	background-color: #00AEEF;
	border-radius: 10px;
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1299-4
{
	width: 58px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	left: 9px;
}

#u1296:hover #u1299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u1296.MuseMenuActive #u1299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u1296:hover #u1299-4 p
{
	color: #00AEEF;
	visibility: inherit;
}

#u1281
{
	width: 116px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u1284
{
	width: 116px;
	background-color: transparent;
	padding-bottom: 25px;
	position: relative;
}

#u1284.MuseMenuActive
{
	background-color: #00AEEF;
	border-radius: 10px;
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1287-4
{
	width: 97px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	left: 9px;
}

#u1284:hover #u1287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u1284.MuseMenuActive #u1287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u1284:hover #u1287-4 p
{
	color: #00AEEF;
	visibility: inherit;
}

#u1274
{
	width: 123px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 261px;
}

#u1275
{
	width: 123px;
	background-color: transparent;
	padding-bottom: 25px;
	position: relative;
}

#u1275:hover
{
	background-color: transparent;
	border-radius: 0px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u1275.MuseMenuActive
{
	background-color: #00AEEF;
	border-radius: 10px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u1276-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	left: 9px;
}

#u1275:hover #u1276-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u1275.MuseMenuActive #u1276-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u1275:hover #u1276-4 p
{
	color: #00AEEF;
	visibility: inherit;
}

#u1483
{
	width: 38px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 386px;
}

#u1486
{
	width: 38px;
	background-color: transparent;
	padding-bottom: 25px;
	position: relative;
}

#u1486:hover
{
	background-color: transparent;
	border-radius: 0px;
	width: 38px;
	min-height: 0px;
	margin: 0px;
}

#u1486.MuseMenuActive
{
	background-color: #00AEEF;
	border-radius: 10px;
	width: 38px;
	min-height: 0px;
	margin: 0px;
}

#u1488-4
{
	width: 19px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	left: 9px;
}

#u1486:hover #u1488-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1486.MuseMenuActive #u1488-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1486:hover #u1488-4 p
{
	color: #00AEEF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu1318
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 85px;
}

#u1318
{
	z-index: 403;
	height: 390px;
	background-color: #1C272D;
}

#u1318-bw
{
	z-index: 403;
	height: 390px;
}

#u1319-4
{
	z-index: 404;
	min-height: 59px;
	background-color: transparent;
	line-height: 59px;
}

#u1319-4-bw
{
	z-index: 404;
	min-height: 59px;
	margin-top: 65px;
}

#u1320-4
{
	z-index: 408;
	min-height: 23px;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
}

#u1320-4-bw
{
	z-index: 408;
	min-height: 23px;
	margin-top: 183px;
}

#u1321-4
{
	z-index: 412;
	min-height: 30px;
	background-color: transparent;
	line-height: 21px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
}

#u1321-4-bw
{
	z-index: 412;
	min-height: 30px;
	margin-top: 285px;
}

#u1387-4
{
	z-index: 416;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}

#u1387-4-bw
{
	z-index: 416;
	min-height: 35px;
	margin-top: 140px;
}

#u1333-4
{
	z-index: 421;
	min-height: 61px;
	border-style: none;
	background-color: transparent;
}

#u1333-4-bw
{
	z-index: 421;
	min-height: 61px;
	margin-top: -1px;
	margin-bottom: -1px;
}

#pbuttonu383
{
	width: 0.01px;
	margin-left: -16px;
	margin-top: 18px;
}

#buttonu383
{
	z-index: 4;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu383:hover
{
	width: 281px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u432-4
{
	z-index: 17;
	width: 33px;
	min-height: 63px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 60px;
	line-height: 60px;
	position: relative;
	margin-right: -10000px;
}

#buttonu383:hover #u432-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 63px;
	width: 33px;
	margin: 0px -10000px 0px 0px;
}

#buttonu383.ButtonSelected #u432-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 63px;
	width: 33px;
	margin: 0px -10000px 0px 0px;
}

#u384-10
{
	z-index: 5;
	width: 230px;
	min-height: 275px;
	background-color: #E6E8E8;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 51px;
}

#buttonu383:hover #u384-10
{
	background-color: #B1BABF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 275px;
	width: 230px;
	margin: 1px -10000px 0px 0px;
}

#u1291.MuseMenuActive #u1293-4 p,#u1296.MuseMenuActive #u1299-4 p,#u1284.MuseMenuActive #u1287-4 p,#u1275.MuseMenuActive #u1276-4 p,#u1486.MuseMenuActive #u1488-4 p,#buttonu383:hover #u384-10 p,#buttonu383:hover #u384-10 span,#buttonu383:hover #u384-10 h3
{
	color: #FFFFFF;
	visibility: inherit;
}

#u384-4
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u388:hover
{
	min-height: 0px;
	margin: 0px;
}

#u386
{
	z-index: 11;
	vertical-align: top;
	width: 127px;
	height: 145px;
	background: url("../images/rscameraicon-u386.png") no-repeat 0px 0px;
}

#u384-5
{
	line-height: 44px;
}

#u384-8
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#buttonu1127
{
	z-index: 260;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#buttonu383.ButtonSelected,#buttonu1127.ButtonSelected
{
	width: 281px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1135-4
{
	z-index: 273;
	width: 32px;
	min-height: 65px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 30px;
	position: relative;
	margin-right: -10000px;
}

#buttonu1127.ButtonSelected #u1135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 65px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u1132-10
{
	z-index: 261;
	width: 230px;
	min-height: 275px;
	background-color: #E6E8E8;
	border-radius: 20px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 51px;
}

#buttonu1127:hover #u1132-10
{
	background-color: #B1BABF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 275px;
	width: 230px;
	margin: 1px -10000px 0px 0px;
}

#buttonu383.ButtonSelected #u384-10,#buttonu1127.ButtonSelected #u1132-10
{
	background-color: #E6E8E8;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 275px;
	width: 230px;
	margin: 1px -10000px 0px 0px;
}

#buttonu1127:hover #u1132-10 p,#buttonu1127:hover #u1132-10 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1134
{
	z-index: 267;
	vertical-align: top;
	width: 127px;
	height: 146px;
	background: url("../images/dlicon-u1134.png") no-repeat 0px 0px;
}

#buttonu428
{
	z-index: 21;
	width: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 659px;
}

#buttonu428.ButtonSelected
{
	width: 283px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u434-4
{
	z-index: 34;
	width: 33px;
	min-height: 62px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 30px;
	position: relative;
	margin-right: -10000px;
}

#buttonu428.ButtonSelected #u434-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
	width: 33px;
	margin: 0px -10000px 0px 0px;
}

#u1135,#u434
{
	line-height: 60px;
}

#u429-10
{
	z-index: 22;
	width: 230px;
	min-height: 276px;
	background-color: #E6E8E8;
	border-radius: 20px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 53px;
}

#buttonu428:hover #u429-10
{
	background-color: #B1BABF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 276px;
	width: 230px;
	margin: 0px -10000px 0px 0px;
}

#buttonu428.ButtonSelected #u429-10
{
	background-color: #E6E8E8;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 276px;
	width: 230px;
	margin: 0px -10000px 0px 0px;
}

#buttonu428:hover #u429-10 p,#buttonu428:hover #u429-10 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1132-4,#u429-4
{
	font-size: 18px;
	color: #3C3C3C;
	font-weight: 400;
}

#u431
{
	z-index: 28;
	vertical-align: top;
	width: 143px;
	height: 145px;
	background: url("../images/scratchx-u431.png") no-repeat 0px 0px;
}

#u1132-6,#u429-6
{
	color: #3C3C3C;
	font-weight: 700;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1132-5,#u429-5
{
	line-height: 35px;
}

#u1132-8,#u429-8
{
	font-size: 18px;
	color: #7F7F7F;
	font-weight: 400;
}

#u1339-5
{
	z-index: 277;
	width: 300px;
	min-height: 58px;
	background-color: transparent;
	color: #FF0700;
	line-height: 21px;
	text-align: center;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 331px;
	margin-top: 10px;
	position: relative;
}

#u1339
{
	text-decoration: underline;
	font-weight: 700;
}

#pu435-8
{
	width: 0.01px;
	margin-top: 9px;
}

#u435-8
{
	z-index: 38;
	width: 960px;
	min-height: 48px;
	background-color: transparent;
	letter-spacing: 0px;
	font-size: 14px;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
}

#u742
{
	margin-top: -8px;
	margin-bottom: -8px;
	margin-right: -8px;
}

#u743
{
	z-index: 44;
	width: 35px;
	background-color: transparent;
}

#u743_img
{
	vertical-align: bottom;
}

#samples
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 972px;
}

#pu755
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 41px;
}

#u755
{
	z-index: 3;
	min-height: 866px;
	background-color: #E6EBEF;
	padding-bottom: 46px;
}

#pbuttonu724
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 68px;
	margin-left: 100px;
}

#buttonu724
{
	z-index: 166;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u725-10
{
	z-index: 167;
	width: 300px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu724:hover #u725-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#buttonu724:hover #u725-10 p,#buttonu724:hover #u725-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u727
{
	z-index: 173;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #E6E8E8 url("../images/sample1.png") no-repeat center center;
}

#buttonu879
{
	z-index: 208;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#u880-10
{
	z-index: 209;
	width: 300px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu724.ButtonSelected #u725-10,#buttonu879:hover #u880-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#buttonu879:hover #u880-10 p,#buttonu879:hover #u880-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u882
{
	z-index: 215;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #E6E8E8 url("../images/simple-face.jpg") no-repeat center center;
	background-size: contain;
}

#pbuttonu871
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 68px;
	margin-left: 430px;
}

#buttonu871
{
	z-index: 182;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u872-10
{
	z-index: 183;
	width: 300px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu879.ButtonSelected #u880-10,#buttonu871:hover #u872-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#buttonu871:hover #u872-10 p,#buttonu871:hover #u872-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u874
{
	z-index: 189;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #E6E8E8 url("../images/simple-hand.jpg") no-repeat center center;
	background-size: contain;
}

#buttonu883
{
	z-index: 221;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#u884-10
{
	z-index: 222;
	width: 300px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu871.ButtonSelected #u872-10,#buttonu883:hover #u884-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#buttonu883:hover #u884-10 p,#buttonu883:hover #u884-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u886
{
	z-index: 228;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #E6E8E8 url("../images/full-face.jpg") no-repeat center center;
	background-size: contain;
}

#pbuttonu875
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 68px;
	margin-left: 760px;
}

#buttonu875
{
	z-index: 195;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#buttonu724.ButtonSelected,#buttonu871.ButtonSelected,#buttonu875.ButtonSelected
{
	width: 300px;
	min-height: 0px;
	margin: 0px;
}

#u876-10
{
	z-index: 196;
	width: 300px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu883.ButtonSelected #u884-10,#buttonu875:hover #u876-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#buttonu875:hover #u876-10 p,#buttonu875:hover #u876-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u878
{
	z-index: 202;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #E6E8E8 url("../images/full-hand.jpg") no-repeat center center;
	background-size: contain;
}

#buttonu926
{
	z-index: 234;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#buttonu879.ButtonSelected,#buttonu883.ButtonSelected,#buttonu926.ButtonSelected
{
	width: 300px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#u927-10
{
	z-index: 235;
	width: 300px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu875.ButtonSelected #u876-10,#buttonu926:hover #u927-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#buttonu926:hover #u927-10 p,#buttonu926:hover #u927-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u929
{
	z-index: 241;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #E6E8E8 url("../images/pong.jpg") no-repeat center center;
	background-size: contain;
}

#blocks
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 848px;
	left: 1071px;
}

#u755-bw
{
	z-index: 3;
	min-height: 866px;
}

#u511-4
{
	z-index: 49;
	min-height: 61px;
	border-style: none;
	background-color: transparent;
}

#u511-4-bw
{
	z-index: 49;
	min-height: 61px;
}

#buttonu930
{
	z-index: 247;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 631px;
	left: 100px;
}

#buttonu930.ButtonSelected
{
	width: 300px;
	min-height: 0px;
	margin: 631px -10000px 0px 0px;
}

#u931-10
{
	z-index: 248;
	width: 300px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu926.ButtonSelected #u927-10,#buttonu930:hover #u931-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#buttonu930.ButtonSelected #u931-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#buttonu930:hover #u931-10 p,#buttonu930:hover #u931-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#buttonu383.ButtonSelected #u384-10 p,#buttonu383.ButtonSelected #u384-10 span,#buttonu383.ButtonSelected #u384-10 h3,#buttonu1127.ButtonSelected #u1132-10 p,#buttonu1127.ButtonSelected #u1132-10 span,#buttonu428.ButtonSelected #u429-10 p,#buttonu428.ButtonSelected #u429-10 span,#buttonu724.ButtonSelected #u725-10 p,#buttonu724.ButtonSelected #u725-10 span,#buttonu879.ButtonSelected #u880-10 p,#buttonu879.ButtonSelected #u880-10 span,#buttonu871.ButtonSelected #u872-10 p,#buttonu871.ButtonSelected #u872-10 span,#buttonu883.ButtonSelected #u884-10 p,#buttonu883.ButtonSelected #u884-10 span,#buttonu875.ButtonSelected #u876-10 p,#buttonu875.ButtonSelected #u876-10 span,#buttonu926.ButtonSelected #u927-10 p,#buttonu926.ButtonSelected #u927-10 span,#buttonu930.ButtonSelected #u931-10 p,#buttonu930.ButtonSelected #u931-10 span
{
	color: #3C3C3C;
	visibility: inherit;
}

#u725-4,#u880-4,#u872-4,#u884-4,#u876-4,#u927-4,#u931-4
{
	font-size: 18px;
	line-height: 22px;
	color: #3C3C3C;
	font-weight: 400;
}

#u384,#u1132,#u429,#u435,#u725,#u880,#u872,#u884,#u876,#u927,#u931
{
	font-size: 1px;
	line-height: 0px;
}

#u933
{
	z-index: 254;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #DDDEDE url("../images/rock-paper-scissors.jpg") no-repeat center center;
	background-size: contain;
}

#u725-6,#u880-6,#u872-6,#u884-6,#u876-6,#u927-6,#u931-6
{
	font-size: 18px;
	line-height: 29px;
	color: #3C3C3C;
	font-weight: 700;
}

#u725-8,#u880-8,#u872-8,#u884-8,#u876-8,#u927-8,#u931-8
{
	font-size: 14px;
	color: #7F7F7F;
	font-weight: 400;
}

#u655-4
{
	z-index: 102;
	min-height: 63px;
	background-color: transparent;
}

#u655-4-bw
{
	z-index: 102;
	min-height: 63px;
}

#u704-4
{
	z-index: 122;
	width: 960px;
	min-height: 25px;
	background-color: transparent;
	line-height: 29px;
	margin-left: 1px;
	margin-top: 21px;
	position: relative;
}

#u672
{
	z-index: 112;
	width: 121px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u707-4
{
	z-index: 130;
	width: 630px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#u662
{
	z-index: 108;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u708-4
{
	z-index: 134;
	width: 630px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#u656
{
	z-index: 106;
	width: 241px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u709-4
{
	z-index: 138;
	width: 630px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#pu662,#pu667
{
	width: 0.01px;
	margin-top: 25px;
}

#u667
{
	z-index: 110;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u710-4
{
	z-index: 142;
	width: 630px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#u705-4
{
	z-index: 126;
	width: 960px;
	min-height: 27px;
	background-color: transparent;
	line-height: 29px;
	margin-left: 1px;
	margin-top: 51px;
	position: relative;
}

#pu672,#pu692
{
	width: 0.01px;
	margin-top: 14px;
}

#u692
{
	z-index: 120;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u711-4
{
	z-index: 146;
	width: 630px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#pu687
{
	width: 0.01px;
	margin-top: 22px;
}

#u687
{
	z-index: 118;
	width: 289px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u712-4
{
	z-index: 150;
	width: 630px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#u682
{
	z-index: 116;
	width: 251px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u713-4
{
	z-index: 154;
	width: 630px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#pu656,#pu682,#pu677
{
	width: 0.01px;
	margin-top: 24px;
}

#u677
{
	z-index: 114;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u714-4
{
	z-index: 158;
	width: 630px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#getstarted
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 960px;
}

#pu760
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 44px;
}

#u760
{
	z-index: 2;
	min-height: 1288px;
	background-color: #E6EBEF;
}

#u755_align_to_page,#u760_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u760_position_content
{
	margin-bottom: -2px;
	padding-top: 79px;
}

#u717-4
{
	z-index: 162;
	width: 960px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	left: 101px;
	position: relative;
}

#u602-42
{
	z-index: 57;
	width: 960px;
	min-height: 381px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	left: 101px;
	margin-top: 14px;
	position: relative;
}

#u648
{
	z-index: 63;
	width: 397px;
	background-color: transparent;
}

#u1448-4
{
	z-index: 325;
	width: 960px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	left: 100px;
	margin-top: 34px;
	position: relative;
}

#u1444-34
{
	z-index: 288;
	width: 960px;
	min-height: 246px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	left: 100px;
	margin-top: 14px;
	position: relative;
}

#u1456
{
	z-index: 295;
	width: 366px;
	background-color: transparent;
}

#u602-11,#u602-13,#u602-21,#u602-27,#u1444-12
{
	color: #4A6CD4;
	font-weight: 700;
}

#u435-4,#u1444-13,#u1444-17
{
	font-weight: 700;
}

#u1444-18
{
	color: #53565A;
	font-weight: 400;
}

#u1467-4
{
	z-index: 377;
	width: 960px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	left: 100px;
	margin-top: 34px;
	position: relative;
}

#pu1463-45
{
	width: 0.01px;
	left: 100px;
	margin-top: 14px;
	position: relative;
}

#u1463-45
{
	z-index: 329;
	width: 960px;
	min-height: 246px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	position: relative;
	margin-right: -10000px;
}

#u602-39,#u1444-31,#u1463-42
{
	counter-reset: list0;
}

#u602-39 > li:before,#u1444-31 > li:before,#u1463-42 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) '.';
}

#u602-39 .list1,#u1444-31 .list1,#u1463-42 .list1
{
	counter-reset: list1;
}

#u602-39 .list1 > li:before,#u1444-31 .list1 > li:before,#u1463-42 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u602-39 .list2,#u1444-31 .list2,#u1463-42 .list2
{
	counter-reset: list2;
}

#u602-39 .list2 > li:before,#u1444-31 .list2 > li:before,#u1463-42 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u602-39 .list3,#u1444-31 .list3,#u1463-42 .list3
{
	counter-reset: list3;
}

#u602-39 .list3 > li:before,#u1444-31 .list3 > li:before,#u1463-42 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u602-39 .list4,#u1444-31 .list4,#u1463-42 .list4
{
	counter-reset: list4;
}

#u602-39 .list4 > li:before,#u1444-31 .list4 > li:before,#u1463-42 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u602-39 .list5,#u1444-31 .list5,#u1463-42 .list5
{
	counter-reset: list5;
}

#u602-39 .list5 > li:before,#u1444-31 .list5 > li:before,#u1463-42 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u602-39 .list6,#u1444-31 .list6,#u1463-42 .list6
{
	counter-reset: list6;
}

#u602-39 .list6 > li:before,#u1444-31 .list6 > li:before,#u1463-42 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u602-39 .list7,#u1444-31 .list7,#u1463-42 .list7
{
	counter-reset: list7;
}

#u602-39 .list7 > li:before,#u1444-31 .list7 > li:before,#u1463-42 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u602-39 .list8,#u1444-31 .list8,#u1463-42 .list8
{
	counter-reset: list8;
}

#u602-39 .list8 > li:before,#u1444-31 .list8 > li:before,#u1463-42 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u654,#u1462,#u1481
{
	float: right;
	margin: 15px;
}

#u1475
{
	z-index: 336;
	width: 366px;
	background-color: transparent;
}

#u602-5,#u1444-6,#u1463-6
{
	color: #C88330;
	font-weight: 700;
}

#u602-19,#u602-25,#u602-31,#u1444-21,#u1463-18
{
	color: #4B4A60;
	font-weight: 700;
}

#u1463-23,#u1463-31
{
	color: #8A55D7;
	font-weight: 700;
}

#u602-7,#u602-15,#u1444-8,#u1444-15,#u1444-16,#u1463-8,#u1463-12,#u1463-14,#u1463-20,#u1463-25,#u1463-28,#u1463-33
{
	color: #E1A91A;
	font-weight: 700;
}

#u1463-26,#u1463-34
{
	color: #E1A91A;
}

#u602-35,#u1444-27,#u1463-38
{
	color: #3F8D15;
	font-weight: 700;
}

#ux
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 971px;
}

#u760-bw
{
	z-index: 2;
	min-height: 1288px;
}

#u601-4
{
	z-index: 53;
	min-height: 61px;
	background-color: transparent;
}

#u601-4-bw
{
	z-index: 53;
	min-height: 61px;
}

#u1496-4
{
	z-index: 381;
	min-height: 61px;
	background-color: transparent;
}

#u1496-4-bw
{
	z-index: 381;
	min-height: 61px;
	margin-top: 1px;
}

#u1502-4
{
	z-index: 391;
	min-height: 32px;
	background-color: transparent;
	color: #1C272D;
	line-height: 28px;
	text-align: center;
	font-size: 23px;
	font-weight: 400;
}

#u1502-4-bw
{
	z-index: 391;
	min-height: 32px;
	margin-top: 1px;
}

#u1497-6
{
	z-index: 385;
	width: 960px;
	min-height: 62px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	margin-top: 17px;
	position: relative;
}

#u1511-5
{
	z-index: 398;
	width: 380px;
	min-height: 34px;
	background-color: #00AEEF;
	border-radius: 10px;
	text-align: center;
	color: #FFFFFF;
	line-height: 25px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 290px;
	margin-top: 21px;
	position: relative;
}

#u1511-5:hover
{
	background-color: #7F7F7F;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 380px;
	margin: 21px 0px 0px 290px;
}

#u384-6,#u1135-2,#u434-2,#u1511-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1511
{
	line-height: 25px;
}

#u1511-2
{
	font-size: 18px;
	line-height: 32px;
}

#u1504
{
	z-index: 396;
	width: 527px;
	background-color: transparent;
	margin-left: 216px;
	margin-top: 37px;
	position: relative;
}

#pu1389-4
{
	width: 0.01px;
	margin-left: 756px;
	margin-top: 310px;
}

#u1389-4
{
	z-index: 282;
	width: 136px;
	min-height: 22px;
	background-color: transparent;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u1390
{
	z-index: 286;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 78px;
}

#page .verticalspacer
{
	clear: both;
}

