.version.index /* version checker */
{
	color: #0000F3;
	background-color: #269239;
}

.html
{
	background-color: #E6EBEF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 837.5500000000138px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #E6EBEF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -495px;
	padding-bottom: 56px;
	width: 0.01px;
}

#pamphletu1008
{
	z-index: 261;
	width: 0.01px;
	height: 330px;
	padding-bottom: 1px;
	left: -177px;
	position: relative;
}

#u1022
{
	z-index: 262;
	width: 229px;
	position: relative;
	margin-right: -10000px;
}

#u1023
{
	position: absolute;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
}

#u1023:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 230px;
	min-height: 0px;
	margin: 0px;
}

#u1023:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 230px;
	min-height: 0px;
	margin: 0px;
}

#u1027-14
{
	z-index: 264;
	width: 228px;
	min-height: 327px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u1023:hover #u1027-14
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 327px;
	width: 228px;
	margin: 1px -10000px 0px 0px;
}

#u1023:active #u1027-14
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 327px;
	width: 228px;
	margin: 1px -10000px 0px 0px;
}

#u1023:hover #u1027-14 p,#u1023:hover #u1027-14 span,#u1023:active #u1027-14 p,#u1023:active #u1027-14 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u1028:hover
{
	min-height: 0px;
	margin: 0px;
}

#u1028:active
{
	min-height: 0px;
	margin: 0px;
}

#u1029
{
	z-index: 270;
	vertical-align: top;
	width: 127px;
	height: 146px;
	background: url("../images/dlicon-u1029.png") no-repeat 0px 0px;
}

#u1030-4
{
	z-index: 280;
	width: 52px;
	min-height: 49px;
	background-color: transparent;
	font-size: 36px;
	color: #53565A;
	line-height: 43px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1023:hover #u1030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1023:active #u1030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1013
{
	position: absolute;
	width: 666px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -97px;
	left: 712px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1013popup
{
	z-index: 284;
}

#u1016
{
	z-index: 285;
	width: 622px;
	height: 309px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1016_position_content
{
	padding-top: 31px;
	padding-bottom: 39px;
}

#u1032-6
{
	z-index: 286;
	width: 622px;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u1032-2
{
	font-size: 18px;
	line-height: 27px;
	font-weight: 700;
}

#buttonu1121
{
	z-index: 292;
	width: 276px;
	-pie-box-shadow: 3px 3px 4px #CCCCCC;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
	border-color: #787878;
	background-color: #00AEEF;
	border-radius: 5px;
	padding-bottom: 12px;
	margin-left: 173px;
	margin-top: 51px;
	position: relative;
}

#buttonu1121:hover
{
	background-color: #545454;
	width: 276px;
	min-height: 0px;
	margin: 51px 0px 0px 173px;
}

#buttonu1121.ButtonSelected
{
	background-color: #00AEEF;
	width: 276px;
	min-height: 0px;
	margin: 51px 0px 0px 173px;
}

#u1122-4
{
	z-index: 293;
	width: 276px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#buttonu1121:hover #u1122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 276px;
	margin: 13px -10000px 0px 0px;
}

#buttonu1121.ButtonSelected #u1122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 276px;
	margin: 13px -10000px 0px 0px;
}

#buttonu1121:hover #u1122-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1124-5
{
	z-index: 297;
	width: 622px;
	min-height: 50px;
	background-color: transparent;
	color: #FF0700;
	line-height: 21px;
	text-align: center;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 36px;
	position: relative;
}

#u1009
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	top: -74px;
	left: 1325px;
}

#u1009:hover
{
	background-color: transparent;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1009:active
{
	background-color: transparent;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1010-4
{
	z-index: 303;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #53565A;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u592
{
	z-index: 328;
	height: 78px;
	-pie-box-shadow: none;
	box-shadow: 0px 3px 8px rgba(0,0,0,0.45);
	background-color: #197FCA;
	background-color: rgba(0,113,197,0.9);
	position: fixed;
	top: 0px;
	-pie-background: rgba(0,113,197,0.9);
}

#u592-bw
{
	z-index: 328;
}

#home
{
	margin-left: 972px;
	margin-top: 165px;
	position: relative;
}

#u593
{
	z-index: 329;
	width: 256px;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 26px;
}

#u595-4
{
	z-index: 331;
	position: fixed;
	top: 20px;
	left: 297px;
}

#u595-4_img
{
	display: block;
	vertical-align: top;
}

#menuu790
{
	z-index: 335;
	width: 545px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	right: 3px;
}

#u798
{
	width: 124px;
	min-height: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u799
{
	width: 124px;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
}

#u799.MuseMenuActive
{
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u802-4
{
	width: 71px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 26px;
}

#u799:hover #u802-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u799.MuseMenuActive #u802-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u799:hover #u802-4 p
{
	color: #00AEEF;
	visibility: inherit;
}

#u805
{
	width: 149px;
	min-height: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u806
{
	width: 149px;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
}

#u806.MuseMenuActive
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u809-4
{
	width: 97px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 26px;
}

#u806:hover #u809-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u806.MuseMenuActive #u809-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u806:hover #u809-4 p
{
	color: #00AEEF;
	visibility: inherit;
}

#u812
{
	width: 110px;
	min-height: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 277px;
}

#u813
{
	width: 110px;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
}

#u813.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u816-4
{
	width: 58px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 26px;
}

#u813:hover #u816-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u813.MuseMenuActive #u816-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u813:hover #u816-4 p
{
	color: #00AEEF;
	visibility: inherit;
}

#u819
{
	width: 156px;
	min-height: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u822
{
	width: 156px;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
}

#u822:hover
{
	width: 156px;
	min-height: 0px;
	margin: 0px;
}

#u822.MuseMenuActive
{
	width: 156px;
	min-height: 0px;
	margin: 0px;
}

#u824-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 26px;
}

#u822:hover #u824-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u822.MuseMenuActive #u824-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u822:hover #u824-4 p
{
	color: #00AEEF;
	visibility: inherit;
}

#u799.MuseMenuActive #u802-4 p,#u806.MuseMenuActive #u809-4 p,#u813.MuseMenuActive #u816-4 p,#u822.MuseMenuActive #u824-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.MenuItem /* pamphlet2 */
{
	cursor: pointer;
}

#u509
{
	z-index: 4;
	min-height: 275px;
	background-color: #B1BABF;
}

#u509_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 59px;
	padding-bottom: 55px;
}

#u350-4
{
	z-index: 5;
	width: 960px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	left: 100px;
	position: relative;
}

#u359-4
{
	z-index: 9;
	width: 960px;
	min-height: 57px;
	background-color: transparent;
	left: 99px;
	margin-top: 14px;
	position: relative;
}

#u887-4
{
	z-index: 231;
	width: 960px;
	min-height: 30px;
	background-color: transparent;
	line-height: 21px;
	font-size: 14px;
	text-align: center;
	left: 99px;
	margin-top: 15px;
	position: relative;
}

#u509-bw
{
	z-index: 4;
	min-height: 275px;
	margin-top: 59px;
}

#u360-4
{
	z-index: 13;
	width: 961px;
	min-height: 45px;
	background-color: transparent;
	line-height: 36px;
	left: -1px;
	margin-top: 21px;
	position: relative;
}

#pbuttonu383
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 10px;
}

#buttonu383
{
	z-index: 17;
	width: 229px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu383.ButtonSelected
{
	width: 229px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u384-10
{
	z-index: 18;
	width: 229px;
	min-height: 261px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu383:hover #u384-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 261px;
	width: 229px;
	margin: 1px -10000px 0px 0px;
}

#buttonu383.ButtonSelected #u384-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 261px;
	width: 229px;
	margin: 1px -10000px 0px 0px;
}

#buttonu383:hover #u384-10 p,#buttonu383:hover #u384-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u386
{
	z-index: 24;
	vertical-align: top;
	width: 127px;
	height: 145px;
	background: url("../images/rscameraicon-u386.png") no-repeat 0px 0px;
}

#u432-4
{
	z-index: 30;
	width: 52px;
	min-height: 49px;
	background-color: transparent;
	font-size: 36px;
	color: #53565A;
	line-height: 43px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#buttonu1127
{
	z-index: 307;
	width: 229px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 344px;
}

#u1132-14
{
	z-index: 308;
	width: 228px;
	min-height: 327px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u1023.PamphletThumbSelected #u1027-14,#buttonu1127:hover #u1132-14
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 327px;
	width: 228px;
	margin: 1px -10000px 0px 0px;
}

#buttonu1127.ButtonSelected #u1132-14
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 327px;
	width: 228px;
	margin: 1px -10000px 0px 0px;
}

#buttonu1127:hover #u1132-14 p,#buttonu1127:hover #u1132-14 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u1134
{
	z-index: 314;
	vertical-align: top;
	width: 127px;
	height: 146px;
	background: url("../images/dlicon-u1134.png") no-repeat 0px 0px;
}

#u1027-6,#u1132-6
{
	font-size: 18px;
	line-height: 29px;
	color: #3C3C3C;
	font-weight: 700;
}

#u1027-4,#u1027-8,#u1132-4,#u1132-8
{
	font-size: 18px;
	line-height: 22px;
	color: #3C3C3C;
	font-weight: 400;
}

#u1027-9,#u1132-9
{
	font-size: 14px;
	line-height: 21px;
	color: #3C3C3C;
	font-weight: 400;
}

#u1027-12,#u1132-12
{
	font-size: 14px;
	line-height: 21px;
	color: #FF0700;
	font-weight: 400;
}

#u1027-10,#u1124,#u1132-10
{
	text-decoration: underline;
	font-weight: 700;
}

#u1135-4
{
	z-index: 324;
	width: 52px;
	min-height: 49px;
	background-color: transparent;
	font-size: 36px;
	color: #53565A;
	line-height: 43px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#buttonu428
{
	z-index: 34;
	width: 229px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	left: 687px;
}

#buttonu1127.ButtonSelected,#buttonu428.ButtonSelected
{
	width: 229px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u429-10
{
	z-index: 35;
	width: 228px;
	min-height: 262px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#buttonu428:hover #u429-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 262px;
	width: 228px;
	margin: 0px -10000px 0px 0px;
}

#buttonu428.ButtonSelected #u429-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 262px;
	width: 228px;
	margin: 0px -10000px 0px 0px;
}

#buttonu428:hover #u429-10 p,#buttonu428:hover #u429-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u431
{
	z-index: 41;
	vertical-align: top;
	width: 143px;
	height: 145px;
	background: url("../images/scratchx-u431.png") no-repeat 0px 0px;
}

#u384-6,#u429-6
{
	line-height: 29px;
	font-weight: 700;
}

#u384-4,#u384-8,#u429-4,#u429-8
{
	line-height: 22px;
	font-weight: 400;
}

#u434-4
{
	z-index: 47;
	width: 52px;
	min-height: 49px;
	background-color: transparent;
	font-size: 36px;
	color: #53565A;
	line-height: 43px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1023.PamphletThumbSelected #u1030-4,#buttonu383.ButtonSelected #u432-4,#buttonu1127.ButtonSelected #u1135-4,#buttonu428.ButtonSelected #u434-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#blocks
{
	margin-left: 983px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u435-9
{
	z-index: 51;
	width: 960px;
	min-height: 36px;
	background-color: transparent;
	font-size: 14px;
	line-height: 21px;
	left: -1px;
	margin-top: 12px;
	position: relative;
}

#u435-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u435-2
{
	font-size: 18px;
}

#u742
{
	margin-top: -8px;
	margin-bottom: -8px;
	margin-right: -8px;
}

#u743
{
	z-index: 57;
	width: 35px;
	background-color: transparent;
}

#u743_img
{
	vertical-align: bottom;
}

#u435-4
{
	font-weight: 700;
	line-height: 21px;
}

#u435-3,#u435-5
{
	font-size: 18px;
	line-height: 27px;
}

#u435-6
{
	line-height: 21px;
}

#u755
{
	z-index: 3;
	min-height: 611.8250000000014px;
	background-color: #F1F4F7;
	padding-bottom: 0px;
}

#u755_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 19px;
	padding-bottom: 28px;
}

#u655-4
{
	z-index: 98;
	width: 959px;
	min-height: 45px;
	background-color: transparent;
	line-height: 36px;
	left: 99px;
	position: relative;
}

#u704-4
{
	z-index: 118;
	width: 313px;
	min-height: 31px;
	background-color: transparent;
	line-height: 26px;
	left: 100px;
	margin-top: 18px;
	position: relative;
}

#u672
{
	z-index: 108;
	width: 121px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u707-4
{
	z-index: 126;
	width: 625px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u662
{
	z-index: 104;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u708-4
{
	z-index: 130;
	width: 625px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#pu656
{
	width: 0.01px;
	left: 100px;
	margin-top: 25px;
	position: relative;
}

#u656
{
	z-index: 102;
	width: 241px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u709-4
{
	z-index: 134;
	width: 625px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u667
{
	z-index: 106;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u710-4
{
	z-index: 138;
	width: 625px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u705-4
{
	z-index: 122;
	width: 313px;
	min-height: 30px;
	background-color: transparent;
	line-height: 26px;
	left: 100px;
	margin-top: 52px;
	position: relative;
}

#pu672,#pu692
{
	width: 0.01px;
	left: 100px;
	margin-top: 13px;
	position: relative;
}

#u692
{
	z-index: 116;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u711-4
{
	z-index: 142;
	width: 625px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#pu687
{
	width: 0.01px;
	left: 100px;
	margin-top: 21px;
	position: relative;
}

#u687
{
	z-index: 114;
	width: 289px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u712-4
{
	z-index: 146;
	width: 625px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#pu662,#pu667,#pu682
{
	width: 0.01px;
	left: 100px;
	margin-top: 24px;
	position: relative;
}

#u682
{
	z-index: 112;
	width: 251px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u713-4
{
	z-index: 150;
	width: 625px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#samples
{
	left: 1083px;
	margin-top: 6px;
	position: relative;
}

#pu677
{
	width: 0.01px;
	left: 100px;
	position: relative;
}

#u677
{
	z-index: 110;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u714-4
{
	z-index: 154;
	width: 625px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u755-bw
{
	z-index: 3;
	min-height: 611.8250000000014px;
	margin-top: 55px;
}

#u511-4
{
	z-index: 63;
	width: 960px;
	min-height: 45px;
	background-color: transparent;
	line-height: 36px;
	left: -1px;
	margin-top: 17px;
	position: relative;
}

#pbuttonu724
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 10px;
}

#buttonu724
{
	z-index: 162;
	width: 291px;
	border-style: none;
	border-color: transparent;
	background-color: #E6EBEF;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u725-10
{
	z-index: 163;
	width: 291px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu724:hover #u725-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#buttonu724:hover #u725-10 p,#buttonu724:hover #u725-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u727
{
	z-index: 169;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: transparent url("../images/sample1.png") no-repeat center center;
}

#buttonu871
{
	z-index: 179;
	width: 291px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u872-10
{
	z-index: 180;
	width: 291px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu724.ButtonSelected #u725-10,#buttonu871:hover #u872-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#buttonu871:hover #u872-10 p,#buttonu871:hover #u872-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u874
{
	z-index: 186;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #DDDEDE url("../images/simple-hand.jpg") no-repeat center center;
	background-size: contain;
}

#buttonu875
{
	z-index: 192;
	width: 291px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 669px;
}

#u876-10
{
	z-index: 193;
	width: 291px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu871.ButtonSelected #u872-10,#buttonu875:hover #u876-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#buttonu875:hover #u876-10 p,#buttonu875:hover #u876-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u878
{
	z-index: 199;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #DDDEDE url("../images/full-hand.jpg") no-repeat center center;
	background-size: contain;
}

#pbuttonu879
{
	width: 0.01px;
	margin-top: 25px;
}

#buttonu879
{
	z-index: 205;
	width: 291px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u880-10
{
	z-index: 206;
	width: 291px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu875.ButtonSelected #u876-10,#buttonu879:hover #u880-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#buttonu879:hover #u880-10 p,#buttonu879:hover #u880-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u882
{
	z-index: 212;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #DDDEDE url("../images/simple-face.jpg") no-repeat center center;
	background-size: contain;
}

#buttonu883
{
	z-index: 218;
	width: 291px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u884-10
{
	z-index: 219;
	width: 291px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu879.ButtonSelected #u880-10,#buttonu883:hover #u884-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#buttonu883:hover #u884-10 p,#buttonu883:hover #u884-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u886
{
	z-index: 225;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #DDDEDE url("../images/full-face.jpg") no-repeat center center;
	background-size: contain;
}

#buttonu926
{
	z-index: 235;
	width: 291px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 668px;
}

#u927-10
{
	z-index: 236;
	width: 291px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu883.ButtonSelected #u884-10,#buttonu926:hover #u927-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#buttonu926:hover #u927-10 p,#buttonu926:hover #u927-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u929
{
	z-index: 242;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #DDDEDE url("../images/pong.jpg") no-repeat center center;
	background-size: contain;
}

#pbuttonu930
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 24px;
}

#buttonu930
{
	z-index: 248;
	width: 291px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#buttonu724.ButtonSelected,#buttonu871.ButtonSelected,#buttonu875.ButtonSelected,#buttonu879.ButtonSelected,#buttonu883.ButtonSelected,#buttonu926.ButtonSelected,#buttonu930.ButtonSelected
{
	width: 291px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u931-10
{
	z-index: 249;
	width: 291px;
	min-height: 281px;
	background-color: transparent;
	text-align: center;
	color: #3C3C3C;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu926.ButtonSelected #u927-10,#buttonu930:hover #u931-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#buttonu930.ButtonSelected #u931-10
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#buttonu930:hover #u931-10 p,#buttonu930:hover #u931-10 span
{
	color: #00AEEF;
	visibility: inherit;
}

#u1023.PamphletThumbSelected #u1027-14 p,#u1023.PamphletThumbSelected #u1027-14 span,#buttonu383.ButtonSelected #u384-10 p,#buttonu383.ButtonSelected #u384-10 span,#buttonu1127.ButtonSelected #u1132-14 p,#buttonu1127.ButtonSelected #u1132-14 span,#buttonu428.ButtonSelected #u429-10 p,#buttonu428.ButtonSelected #u429-10 span,#buttonu724.ButtonSelected #u725-10 p,#buttonu724.ButtonSelected #u725-10 span,#buttonu871.ButtonSelected #u872-10 p,#buttonu871.ButtonSelected #u872-10 span,#buttonu875.ButtonSelected #u876-10 p,#buttonu875.ButtonSelected #u876-10 span,#buttonu879.ButtonSelected #u880-10 p,#buttonu879.ButtonSelected #u880-10 span,#buttonu883.ButtonSelected #u884-10 p,#buttonu883.ButtonSelected #u884-10 span,#buttonu926.ButtonSelected #u927-10 p,#buttonu926.ButtonSelected #u927-10 span,#buttonu930.ButtonSelected #u931-10 p,#buttonu930.ButtonSelected #u931-10 span
{
	color: #3C3C3C;
	visibility: inherit;
}

#u725-4,#u872-4,#u876-4,#u880-4,#u884-4,#u927-4,#u931-4
{
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}

#u1027,#u384,#u1132,#u429,#u435,#u725,#u872,#u876,#u880,#u884,#u927,#u931
{
	font-size: 1px;
	line-height: 0px;
}

#u933
{
	z-index: 255;
	width: 292px;
	height: 170px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F5975;
	background: #DDDEDE url("../images/rock-paper-scissors.jpg") no-repeat center center;
	background-size: contain;
}

#u725-6,#u872-6,#u876-6,#u880-6,#u884-6,#u927-6,#u931-6
{
	font-size: 18px;
	line-height: 29px;
	font-weight: 700;
}

#u725-8,#u872-8,#u876-8,#u880-8,#u884-8,#u927-8,#u931-8
{
	font-size: 14px;
	font-weight: 400;
}

#getstarted
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 251px;
	left: 969px;
}

#u760
{
	z-index: 2;
	min-height: 550.5999999999999px;
	background-color: #F1F4F7;
	padding-bottom: 0px;
}

#u760_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 14px;
	padding-bottom: 21px;
}

#u601-4
{
	z-index: 67;
	width: 959px;
	min-height: 45px;
	background-color: transparent;
	line-height: 36px;
	left: 101px;
	position: relative;
}

#u717-4
{
	z-index: 158;
	width: 959px;
	min-height: 32px;
	background-color: transparent;
	line-height: 26px;
	left: 100px;
	margin-top: 20px;
	position: relative;
}

#u602-24
{
	z-index: 71;
	width: 960px;
	min-height: 45px;
	background-color: transparent;
	left: 100px;
	margin-top: 14px;
	position: relative;
}

#u602-18
{
	counter-reset: list0;
}

#u602-18 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) '.';
}

#u602-18 .list1
{
	counter-reset: list1;
}

#u602-18 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u602-18 .list2
{
	counter-reset: list2;
}

#u602-18 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u602-18 .list3
{
	counter-reset: list3;
}

#u602-18 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u602-18 .list4
{
	counter-reset: list4;
}

#u602-18 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u602-18 .list5
{
	counter-reset: list5;
}

#u602-18 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u602-18 .list6
{
	counter-reset: list6;
}

#u602-18 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u602-18 .list7
{
	counter-reset: list7;
}

#u602-18 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u602-18 .list8
{
	counter-reset: list8;
}

#u602-18 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u654
{
	float: right;
}

#u648
{
	z-index: 77;
	width: 397px;
	background-color: transparent;
}

#u760-bw
{
	z-index: 2;
	min-height: 550.5999999999999px;
	margin-top: 31px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

