#u1843
{
	background-color: #197FCA;
	background-color: rgba(0,113,197,0.9);
	position: fixed;
	-pie-background: rgba(0,113,197,0.9);
}

#u1844
{
	background-color: transparent;
	position: fixed;
}

#u1850-4
{
	background-color: transparent;
	color: #7F7F7F;
	position: relative;
}

#u1851
{
	background-color: transparent;
	position: relative;
}

