.Paragraph-Style,.Heading-Style,.SubHeading-Style,.SubSubHeading,.Paragraph-Style-1,.ButtonStyle
{
	font-family: open-sans-n4, sans-serif;
}

#u2287-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2299-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2293-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2261,#u2344-8
{
	font-family: open-sans-n4, sans-serif;
}

#u2343-8
{
	font-family: open-sans-n4, sans-serif;
}

