.Paragraph-Style,.Heading-Style,.SubHeading-Style,.SubSubHeading,.Paragraph-Style-1,.ButtonStyle,.Paragraph-Style-2
{
	font-family: open-sans-n4, sans-serif;
}

#u2734.PamphletThumbSelected #u2792-4 p,#u2293-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2825
{
	font-family: open-sans-n4, sans-serif;
}

